<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading">About</h2>
                </div>
                <div class="col-lg-2"></div>
                  
                <div class="col-lg-8 text-center">
                  <p class="lead">
                    Our mission is to help incoming and current Indians in Tokyo
                    Institute of Technology and introduce others to Indian culture.
                  </p>
                  <p class="lead">
                    ISAT is a not-for-profit students' association in Tokyo Institute
                    of Technology, Japan.  ISAT works as the platform for connecting
                    and supporting current and incoming students at the University, in
                    particular students of Indian origin.
                  </p>
                  <p class="lead">
                    As a representative of India, the group shall also aim at promoting
                    and introducing Indian culture among other students through various
                    activities like get-togethers, day trips, workshops, and cultural events. 
                    The association shall commit to the objectives of the Tokyo Tech International
                    Students' Association (TISA).
                  </p>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </section>
